<nav>
    <button type="button" id="create-issue">&#43; Raise an issue</button>
    <!-- <button type="button" id="create-issue" onclick="redirectProj('<%= id %>')">show all issues</button> -->
</nav>
</header>
<main>
    <div id="project-div">
        <h1 id="title"><%- projectBody.project %></h1>
        <div id="desc-div">
            <label for="desc">Description: </label>
            <p id="desc"> <%- projectBody.desc %></p>
        </div>
        <h4 id="author"><i> &#126; <%- projectBody.author %></i></h4>
    </div>
    
    <h3 id="issue-head" class="card-title">Issues</h3>

    <div class="card text-center">
      <% if(issues.length > 0){ %>
        <div id="filter-div" class="modal-body card-header">

          <form class="form-inline" action="/project/<%= id %>/search" method="get">
            <h5 class="card-title">Search issues</h5>
            <div class="input-group mb-3">
                  <input type="search" class="form-control" name="search" id="search" placeholder="Enter issue title/description">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </form>
            
          <form action="/project/<%= id %>/filter" method="get">
            <h5 class="card-title">Filter issues</h5>
    
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="filter" value="label" onclick="labelFunc()" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio1">by label</label>
                    
              <input type="radio" class="btn-check" name="filter" value="author" onclick="filterFunc()" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio2">by author</label>
            </div>
                
            <div id="select-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="label" value="bug" id="bug">
                  <label class="form-check-label" for="bug">
                    Bug
                  </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="label" value="help" id="help">
                <label class="form-check-label" for="help">
                  Help
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="label" value="hot" id="hot">
                <label class="form-check-label" for="hot">
                  Hot
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="label" value="ui/ux" id="ui">
                <label class="form-check-label" for="ui">
                  UI/UX
                </label>
              </div>
            </div>
            
            <div id="select-author" >
              <select class="form-select" name="author" aria-label="Default select example">
                <option selected>--Select Author--</option>
                <% projectBody.issues.forEach(issue=>{ %>
                  <option value="<%- issue.author %>"><%- issue.author %></option>
                <% }) %>
              </select>
            </div>
    
            <div>
              <button type="submit" class="btn btn-primary">Filter</button>
            </div>
          </form>
              
          <% if(filtered) { %>
            <form action="/project/<%= id %>" method="get">
                <button type="submit" class="btn btn-dark"><i class="fa-solid fa-rotate-right"></i> Reset Filter</button>
            </form>
          <% } %>
        </div>

        <% issues.forEach((issue)=>{ %>
          <div class="card-body">
            <h5 class="card-title"><%- issue.title %>
              <% issue.labels.forEach((label)=>{
                let badgeClass;
                switch(label){
                  case 'bug': 
                  badgeClass = 'text-bg-danger';
                  break;
                  case 'help':
                  badgeClass = 'text-bg-success';
                  break;
                  case 'hot':
                  badgeClass = 'text-bg-warning';
                  break;
                  default:
                  badgeClass = 'text-bg-primary';
                } %>
                <span class="badge <%- badgeClass %>"><%- label %></span>
              <% }) %>
            </h5>
            <p class="card-text"><%- issue.desc %></p>
            <footer class="blockquote-footer"><cite title="Source Title"><%- issue.author %></cite></footer>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        <% }) %>

      <% } else{ %>
        <div class="card-header">
          <h5 class="card-title">No issue found!</h5>
          <% if(filtered){ %>
            <form action="/project/<%= id %>" method="get">
              <button type="submit" class="btn btn-dark"> Reset filter</button>
            </form>
          <% } %>
        </div>
      <% } %>

</main>

<div class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Project</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/project/<%= id %>" method="post">
                    <div class="row mb-3">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                      <div class="col-sm-10">
                          <input type="text" name="title" class="form-control" aria-label="Username" placeholder="Enter Issue Title" required>                          
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Description</label>
                        <div>
                            <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Description" required></textarea>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Label</label>
                        <input type="checkbox" name="labels" value="bug" id="dialog-bug">
                        <label class="form-check-label" for="dialog-bug">
                          Bug
                        </label>
                        
                        <input type="checkbox" name="labels" value="help" id="dialog-help">
                        <label class="form-check-label" for="dialog-help">
                          Help
                        </label>
                        
                        <input type="checkbox" name="labels" value="hot" id="dialog-hot">
                        <label class="form-check-label" for="dialog-hot">
                          Hot
                        </label>

                        <input type="checkbox" name="labels" value="ui/ux" id="dialog-ui">
                        <label class="form-check-label" for="dialog-ui">
                          UI/UX
                        </label>
                      </div>

                    <div class="row mb-3">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Author</label>
                      <div class="col-sm-10">
                          <input type="text" name="author" class="form-control" aria-label="Username" placeholder="Enter Author Name" required>                          
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>